[2015-05-21 06:11] ToniWonKanobi opened #2 "Bigfoot.js Footnotes Broken"
[Bigfoot.js][bf] is a JavaScript tool used to render footnote popups in lieu of regular-style 'bounce-around-the-page' footnotes.

I am using [Casey Liss][cl]'s node-based blogging engine [Camel][cm], and have found that when viewing the source for a rendered page, the footnote placeholders become `<undefined>` in the HTML.

Here is a snippet parsed HTML showing the `<undefined>` element, in the p

[2015-05-21 11:46] valeriangalliat commented on #2
Hi,

Can you give a sample project and the steps to reproduce the bug?

And what's the relation between markdown-it-anchor and this `<undefined>` tag?

[2015-05-24 06:39] ToniWonKanobi commented on #2
Sorry. There was an issue with a package dependency that caused Bigfoot footnotes to break. Closing! :)

[2015-05-24 06:39] #2 closed

[2015-05-27 22:58] danielgtaylor opened #3 "Add anchor after heading text"
Right now, the anchor is always added **before** the heading text:

[code]

This makes is easy to hide the anchor until mouse over and doesn't require shifting headings outside of their container to keep alignment on the left side (for LTR text). Ultimately it should probably just be an option.

Is this something you'd be willing to add? Otherwise I think this plugin is great!

[2015-05-28 12:23] #3 closed

[2015-05-28 12:29] valeriangalliat commented on #3
Agreed.

Initially, I put it before the heading because I wanted to mimic how GitHub renders anchors in Markdown files, but it indeed requires some styling to look decent.

I think putting the anchor after the header would be a more sensible default (and it would be consistent with how [Python Markdown is doing with the `permalink` option](http://pythonhosted.org/Markdown/extensions/toc.html)). Ha

[2015-05-28 15:16] danielgtaylor commented on #3
@valeriangalliat thanks!

[2015-05-30 09:28] MoOx opened #4 "Doesn't work with markdown-it-toc"
If I use [markdown-it-toc](https://github.com/samchrisinger/markdown-it-toc) after, your plugin just do nothing.
And if I use it before, your plugin add anchor, but something seems broken

[code]

Any idea how to get anchor links + toc ?

My options

[code]

[2015-05-31 07:35] valeriangalliat commented on #4
markdown-it-anchor and markdown-it-toc were not developed to be compatible, so I'm not surprised they don't play well together by default.

* markdown-it-toc *overrides* the heading renderer, so if you use it after markdown-it-anchor, it will effectively do nothing (markdown-it-anchor renderer never called).
* markdown-it-anchor *extends* the heading renderer, calling the previous one after modify

[2015-06-01 08:22] MoOx commented on #4
I came to the same conclusions.

But I don't like to rely on a bug, so I am working on a new plugin "markdown-it-toc-and-anchor". I will let you know when it's ready ;)

[2015-06-01 08:22] #4 closed

[2015-06-03 07:47] MoOx commented on #4
https://github.com/MoOx/markdown-it-toc-and-anchor

[2015-06-03 07:56] valeriangalliat commented on #4
Pretty nice!

[2015-07-19 18:14] arve0 opened #5 "Use md.core.ruler to add attributes, so that they can be used by other plugins."
Hi!
Any particular reason [you use `md.renderer`](https://github.com/valeriangalliat/markdown-it-anchor/blob/master/index.es6.js#L56) instead of [`Token.attrPush`](https://markdown-it.github.io/markdown-it/#Token.attrPush)?

The reason I ask, is because it would be nice to have access to the `id` attribute from other plugins. Like the one I'm creating now: https://github.com/arve0/markdown-it-head

[2015-07-19 18:24] valeriangalliat commented on #5
Hi,

Well, the particular reason was I didn't knew about `Token.attrPush`!

But isn't the line `;(tokens[idx].attrs = tokens[idx].attrs || []).push(['id', slug])` a "manual" `Token.attrPush`?

I'm still not sure how to modify the code to use `Token.attrPush` instead of `md.renderer`, would you be okay to make a PR?

[2015-07-19 18:54] arve0 commented on #5
It might not been around when you made this plugin, it was [added March 7](https://github.com/markdown-it/markdown-it/commit/37308209459963de922e0eb4df8eb2369314ccf2).

I'll look into your code a bit more in depth, and see if a refactor is possible.

[2015-07-19 19:39] arve0 commented on #5
Ah! As you mention, attributes are added, but they are added when rendering. Would you accept a PR that adds the attributes as a step in md.core.ruler?

[2015-07-19 20:53] valeriangalliat commented on #5
Absolutely!

[2015-07-20 08:59] valeriangalliat commented on #5
Fixed with 2.2.0!

[2015-07-20 08:59] #5 closed

[2015-07-20 09:11] arve0 commented on #5
Thanks for the quick response :octocat:

[2015-07-29 14:29] alexkwolfe opened #7 "Error thrown when headers below level are present"
When rendering a document with headers that are below the specified `level`, an error is thrown. The below example illustrates the problem.

If the `# Title` declaration is removed, the error is no longer thrown. So it appears that headers below the specified level cause this error.

[code]

[2015-08-13 09:51] #7 closed

[2015-08-13 09:51] valeriangalliat commented on #7
Hi, thank you for reporting this, and sorry for the late reply!

This is a bug due to the permalink renderer being called for all headers regardless they match the level requirements.

Fixed with 2.2.1.

[2015-08-13 11:07] valeriangalliat opened #8 "Allow HTML in permalink symbol"
— Anthony Craig (‏@ToniWonKanobi) [Jul 27, 2015](https://twitter.com/ToniWonKanobi/status/625760012992802816)

[2015-08-13 11:10] #8 closed

[2015-08-13 14:09] alexkwolfe commented on #7
No need to apologize! Thanks so much for all the work you've done on this module. :+1:

[2015-09-20 02:46] felixSchl opened #9 "Create package"
Would be great to see this available packaged up on bower, preferably precompiled to ES5.

Edit: I just saw it's on npm, this only leaves bower then.

[2015-09-20 17:31] valeriangalliat commented on #9
Hey,

I never used Bower, and I currently don't plan to publish this package on Bower.

However if you really need this to be on Bower, feel free to release it under your name. :smile:

[2015-09-20 17:31] #9 closed

[2015-09-22 20:42] arturi opened #10 "Unable to parse cyrillic characters"
Just skips them for the first one (and adds negative numbers to others):

<img width="927" alt="screen shot 2015-09-22 at 23 40 22" src="https://cloud.githubusercontent.com/assets/1199054/10031014/658b79a6-6183-11e5-9f95-04abf4aa6f9a.png">

[2015-09-22 21:17] arturi commented on #10
It’s a unicode RegEx and string.js’s problem: https://github.com/jprichardson/string.js/issues/43

[2015-09-22 21:17] #10 closed

[2015-09-22 21:40] arturi commented on #10
Ended up writing my own slugify function like this:

[code]

[2015-09-26 01:13] valeriangalliat commented on #10
Yeah I guess it's a problem with strings.js, and I don't wanna take position on this personnally... I hope you're fine with your own slugify function, that's also why I made it configurable after all!

[2015-11-29 17:06] arve0 opened #12 "TypeError: plugin.apply is not a function"
[code]

Seems like the babel upgrade uses `exports.default`, which node does not load as a function:

[code]

Which breaks `md.use(require('markdown-it-anchor'))`.

[2015-11-29 17:54] #12 closed

[2015-11-29 17:55] valeriangalliat commented on #12
Fixed as of 2.3.2, thank you!

[2016-01-14 15:55] ToniWonKanobi opened #14 "`id`'s for Paragraphs Too?"
### Question

Have you considered allowing `id`'s to be applied to paragraphs---not just headings?
### Problem
- For a lot of my blog posts/writing (especially short passages of text), I don't use headings.
- In those situations, it would be nice to permalink to a specific area of my post/writing, rather than _just_ link to the entire post itself.
### Suggestions

You could implement it in a simil

[2016-01-14 17:36] valeriangalliat commented on #14
I never thought of this before but I like the idea. Though I'm really not sure how to implement this.

Slugifying is nice for headings because they're usually fairly short; it allows a deterministic way to predict the ID, allowing to reference a heading from a link in the Markdown file itself and being confident it will not change unless you update your title (which can happen but not as often as

[2016-01-14 17:57] ToniWonKanobi commented on #14
1. Block-level elements:

    Yeah, I realized while creating the Issue here that implementing this for block-level elements would be rather wonky, and largely unnecessary.

2.  I was thinking specifically for images (`<img>` or `<figure>`-wrapped).

    For instance, if I wanted to `id` and `img`, however you implemented my suggestion (`markdown-it-paragraph` or whatever you call it) would alread

[2016-02-12 20:11] tschaub opened #15 "Add callback option"
I'm interested in generating data for a table of contents and would like to make use of this plugin if possible.  Ideally, I could provide a callback that was called with the heading level (or the `token` itself), the title, and the slug.  This would be enough to generate a table of contents using the `id` attributes added by this plugin.

I could use the existing `slugify` option to gather titles

[2016-02-12 20:31] tschaub commented on #15
See #16 for a proposed solution.

[2016-02-12 21:11] #15 closed

[2016-05-23 12:19] JimmyVV opened #17 "you couldn't translate Chinese into id property?"
what a shame~ author, why not you translate Chinese?

[2016-05-23 13:19] valeriangalliat commented on #17
Duplicate of #10; the problem is the ID property is determined with strings.js, which seems to support only western languages.

What slugification module would you advise instead? I might switch from strings.js to something that have better language support it in a next major release (will be a breaking change).

Meanwhile, you can configure your own `slugify` function (takes the title text as arg

[2016-05-23 14:57] JimmyVV commented on #17
en. maybe you misunderstand my mean. I just want you just to use text and mix with some hash to make sure the id is unique. not to translate Chinese. and I just do as you suggest

[2016-05-23 15:23] valeriangalliat commented on #17
Makes sense, well in this case your `slugify` function can just be `title => title`, there's already code that adds `-1`, `-2` at the end of the ID in case an ID was already used.

I might default to this in the next major version, simple and easy. 👍

[2016-11-19 04:08] gtournie opened #18 "constructor is a reserved word"
One of my anchor is 'constructor', and it's turned into:
`id="constructor-function Object() { [native code] }1"`

[2016-11-19 04:36] gtournie commented on #18
https://github.com/valeriangalliat/markdown-it-anchor/pull/19

[2016-11-19 14:54] valeriangalliat commented on #18
Thanks for the PR, it's released as of 2.5.1. 👍

[2016-11-19 14:54] #18 closed

[2016-11-22 12:09] airwin commented on #17
maybe a full solution:
[code]

[2017-02-06 07:16] m-messiah opened #23 "2.7.0 not working for strange reason"
Hello, I have your package as dependency of aglio-theme-olio,

When I try to gulp build, I have a strange error:
[code]
If I force install 2.6.0 version - all works ok.

[2017-02-06 07:20] kadishmal opened #24 "TypeError: token.attrGet is not a function"
[code]

The following works fine. I seem to have installed `v2.5.0` some time ago.

[code]

This new version fails.

[code]

Please add enough test to verify the changes, and if some of them are breaking, always increment the major version, not the minor.

Opened a corresponding issue for `aglio-theme-olio` so that they always use the exact version at https://github.com/danielgtaylor/aglio/issues/

[2017-02-06 07:38] kadishmal commented on #23
:) See #24, too. We've been bitted by this at the same time.

[2017-02-06 14:18] valeriangalliat commented on #24
Hi, sorry for this, I merged #22 and published it as 2.7.0, looked not breaking to me especially the tests all passed, but I didn't check carefully enough. I'm going to make sure it's not breaking and publish a patch in the following hour.

[2017-02-06 14:26] valeriangalliat commented on #24
Hmm it seems to break only with markdown-it < 6.0.0, I didn't check for older versions to consider the change breaking.

I reverted this and published 2.7.1 which should work for you, and published 3.0.0 with the breaking change.

[2017-02-06 14:27] #24 closed

[2017-02-06 14:28] valeriangalliat commented on #23
Sorry for this, see my comment on #24 :)

[2017-02-06 14:28] #23 closed

[2017-02-06 19:05] ticky opened #25 "2.5.1 and newer are not tagged, no release notes exist"
I’ve just found that 3.0.0 is out, however, I can’t find any reference to any changes, and I can’t seem to glean from the commit history exactly what’s changed. 2.5.1 and up are also missing from tags, so I can’t tell what changed between them either.

Is 3.0.0 really a major API change?

[2017-02-06 19:25] valeriangalliat commented on #25
Thanks for the heads up @ticky, forgot to update the changelog after bumping 3.0.0.

I just updated the [changelog](https://github.com/valeriangalliat/markdown-it-anchor/blob/master/CHANGELOG.md#300---2017-02-06) so you can see what's new.

And yes 3.0.0 is a major API change in the sense that it makes markdown-it-anchor drop support for markdown-it 5 and lower.

[2017-02-07 01:16] kadishmal commented on #24
Great! Thank you @valeriangalliat! You are fast!

[2017-02-23 06:22] xcatliu opened #26 "TypeError: require(...).use is not a function"
I use it as the README.md said, but got such errors:

[code]

I think the README.md should update to something like this:

[code]

[2017-02-24 12:16] felixsanz opened #27 "Reverse level"
Doesn't `level` works as opposite as its supposed to?

For example, i want to give an id attribute to my main headers, h1, h2 and h3, but i can't use the `level` attribute to control that. How i'm supposed to exclude the h4 ones? It should work the opposite :/

`level`: 3 <- minimum header level of 3 to apply the functionality.

But right now that's just adding the attributes to h3-h6 tags, which

[2017-02-24 15:07] valeriangalliat commented on #27
Makes sense. Initially my thought was mostly to exclude `h1` because the page I was working on had only one `h1` and I didn't want give it an anchor, that's why it works this way.

But it think it would be a good idea to make `level` more flexible, supporting something like `level: [1, 3]` in your case.

I'll give it a shot over the week-end.

[2017-02-24 15:09] #26 closed

[2017-02-24 15:09] valeriangalliat commented on #26
Good catch, thank you!

[2017-02-24 18:05] felixsanz commented on #27
Thats great, an array with the levels where you want to have ids/anchors.

My issue is because i have headings like:

[code]

And because my heading doesn't contain text, it's generated like `<h4 id=""><code>...</code></h4>`, which is invalid. So i want to disable this functionality in <h4> headings, where i usually put code tags.

[2017-02-26 16:07] valeriangalliat commented on #27
Oh, interesting, I'd also consider this as a bug, the ID should be a slugified version of the code too. I'm looking into this.

[2017-02-26 16:10] valeriangalliat commented on #27
Hmm, I just tested the following:

[code]

And it actually passes. What versions of markdown-it and markdown-it-anchor are you using?

[2017-02-26 16:29] #27 closed

[2017-02-26 16:40] valeriangalliat commented on #27
I fixed both issues; the inline code is now also used to generate the ID, and you can pass an array of header levels to select in the `level` option.

It's published as of 4.0.0.

Note that I also dropped Babel support in 4.0.0 so this module only works with a Node version with ES6 support.

[2017-02-27 02:32] felixsanz commented on #27
Works great, thanks!

[2017-07-27 07:00] niftylettuce opened #28 "GitHub inspired permalink rendering"
If possible, could we get permalinks to render just like GitHub does for Readme's?

e.g. the hover and the entire header is a link itself?

[2017-07-27 10:53] oztek22 opened #29 "How to add prefix to id?"
In your documentation you mentioned that by using slugify we can create custo id but it uses jquery.
SO I wonder is there any way to add custom prefix to Id?

[2017-08-06 00:09] caraya commented on #25
Are you releasing versions to NPM? When I try to install from npm using `npm i -D markdown-it-abbr@latest` the version I get is 1.0.4

[2017-09-29 19:30] valeriangalliat commented on #25
@caraya I do, you're on the markdown-it-anchor repo and the latest version is 4.0.0.

For markdown-it-abbr, you should look at this repo <https://github.com/markdown-it/markdown-it-abbr>, but it seems that 1.0.4 is indeed the latest version for markdown-it-abbr.

[2017-09-29 19:30] #25 closed

[2017-09-29 19:38] valeriangalliat commented on #29
It doesn't use jQuery, it uses the [string.js](http://stringjs.com/#methods/slugify) module.

If you want to add a custom prefix, you can do the following:

[code]

[2017-09-29 19:38] #29 closed

[2017-09-29 19:41] valeriangalliat commented on #28
On GitHub readmes, as far as I can see, the anchor appears when you hover on the header, but only the anchor icon is a link itself. markdown-it-anchor behaves this way too.

You might want to set `{ permalink: true, parmalinkBefore: true }` in markdown-it-anchor options to make it look more like GitHub. Example: https://www.codejam.info/2015/05/batch-updating-npm-packages-license.html

[2017-09-29 19:41] #28 closed

[2017-10-11 04:53] LeviRosol opened #30 "Nested anchor slugs"
Is there an option to use nesting when generating slugs? ie:

[code]

resulting in:

[code]

[2017-10-11 13:57] valeriangalliat commented on #30
There is none, but I believe you could hack one together using the `callback`, a custom `slugify` function, and some shared state between them. I don't have the time to do a PoC right now though

[2017-10-11 16:28] LeviRosol commented on #30
I worked on this a bit last night in a branch of your app, and then refactored it this morning and I'm pretty pleased with the results. I did add it as a configurable option, added a bunch of tests due to all of the parent / child / sibling / grandparent type scenarios, and updated the readme. IMO, it's feature complete.

That said, the code looks like ass. There's just no great way to keep logic

[2017-10-11 19:37] valeriangalliat commented on #30
Thanks for making a PR!

I'm not sure I want to keep that logic inside the core code though, I'd rather keep it as simple as possible.

I tried my idea of using the `callback` and `slugify` but since `callback` is called after `slugify` it doesn't work... however just by adding something like `preCallback` before the `slugify` call, we could be able to implement that externally.

Here's the patch

[2017-10-12 01:51] LeviRosol commented on #30
Understandable. fwiw, i've seen a number of other anchor plugins where this topic has been discussed, but no viable answer was found / created. I totally understand your thinking in keeping the plugin simple, however, if you're putting the effort into making a solution that uses outside code, why not incorporate it so others don't screw it up?

I did just update my PR with additional logic / tests

[2017-10-30 07:11] lukasoppermann opened #33 "Snyk reports security vulnerability due to string@3.3.3"
Hey, could you please look into it? Thank you.

https://snyk.io/test/npm/markdown-it-anchor/4.0.0

[2017-11-10 19:06] valeriangalliat commented on #33
markdown-it-anchor doesn't use the `underscore` or `unescapeHTML` methods from the `string` module, so you're safe :)

[2017-11-10 19:06] #33 closed

[2017-12-12 13:35] dreadcast opened #34 "Lambda function breaks minifying"
Hi there,

I successfully use _markdown-it-anchor_ until I try to make a production build using Webpack, along with [UglifyJS plugin](https://github.com/webpack-contrib/uglifyjs-webpack-plugin).

[code]

I think I've identified what breaks minifying: the use of lambda functions (`() => {}`)

Shouldn't this package be available as a 100% ES5 version ?

[2017-12-12 15:49] valeriangalliat commented on #34
Isn't it minifying that breaks dependencies?

[2017-12-12 16:27] dreadcast commented on #34
Nope, lambda functions are not broken, UglifyJS just does not support ES6 code. I've tried several options to replace Webpack UglifyJS plugin, without success :(

Lastly, I [cloned](https://github.com/dreadcast/markdown-it-anchor/tree/es5) and (manually) transpiled your code to ES5, it works finely.

[2017-12-12 16:35] valeriangalliat commented on #34
Oh right, I think you should us [uglifyjs-es](https://github.com/mishoo/UglifyJS2/tree/harmony) then!

But if you're shipping the minified code to environments that still doesn't support ES5, your solution of transpiling it is still right... it's up to you!

[2017-12-12 16:35] #34 closed

[2017-12-12 16:37] dreadcast commented on #34
I've tried uglifyjs-es, but could not get it to work with my Webpack version and conf.

I'll consider this option on my next big update !

[2017-12-16 21:45] #30 closed

[2017-12-20 20:35] 2J opened #35 "Duplicate IDs generated if a slug matches another's slug with number appended"
[code]

will render with slugs `header`, `header-2`, `header-2`

[jsfiddle](https://jsfiddle.net/myqvvh5u/)

[2018-01-07 22:12] HenrikBechmann opened #36 "Possible feature? target anchor rather than header id"
It turns out that the best way to handle a fixed top toolbar for anchors (ie creating a top offset to avoid scrolling to a position under the toolbar), is to use a target anchor rather than a header id for the target.

So I've forked `markdown-it-anchor` to accommodate that. Thought you might be interested.

Basically: I've modified the processing logic as follows:
[code]
some new options:
[code]

[2018-01-08 00:56] HenrikBechmann opened #37 "feature: add token.tag to callback"
... this would allow the caller to organize a table of contents with depth
[code]

[2018-01-18 09:15] timocov opened #38 "underscore sign in href replaced with minus sign by default"
Seems that `_` is valid URL part and should not be replaced with `-`.

Of course we can pass own `slugify` but I guess that default behavior should not replace it.

[2018-01-30 17:19] buddh4 opened #39 "TypeError: linkTokens[position[(!opts.permalinkBefore)]](...) is not a function"
I've added this plugin to my rollup build (by npm) and I get the following error when enabling the permlinks:

[code]

This happens in line https://github.com/valeriangalliat/markdown-it-anchor/blob/master/index.js#L33

The rollup output of those lines are:

[code]

a simple semicolon after the first line would solve this issue:

[code]

[2018-02-16 04:42] windmaomao opened #40 "ES6 babel issue"
I followed this, https://babeljs.io/docs/setup/#installation, and then include

[code]

seems solved `const` issue when including into project which do not have babel on `node_modules` folder.

[2018-02-24 05:40] windmaomao commented on #40
I wish I don't need to do the following,

[code]

Right now, I can't load directly from `node_modules`, because all ES6 stuff won't get translated inside webpack.

So, either I do babel on your repo, or I do custom import like the above.

[2018-04-03 17:59] stelabr opened #42 "Anchor links only working in chrome"
For some reason, the anchor links are only working properly in chrome. When I test in Firefox or Safari, the page is scrolled to the top.

[2018-05-30 03:03] ideagay opened #43 "not support Chinese language"
.md
`## [# 添加权限](#ss)`
result
`<h2><a href="#ss"># 添加权限</a></h2>`

.md
`## [# 添加权限role](#ss)`
result
`<h2 id="role-2"><a href="#ss"># 添加权限role</a></h2>`

is there a way to solve？

[2018-06-05 18:00] Manvel opened #44 "High vulnerability error on "npm audit""
Currently running "npm audit" on/with current package shows high vulnerability error.

See image below:
<img width="731" alt="screen shot 2018-06-05 at 9 53 29 pm" src="https://user-images.githubusercontent.com/716969/40993820-a8fd55c8-690b-11e8-9ace-84f65e8f93df.png">

[Relevant issue in the string repo](https://github.com/jprichardson/string.js/issues/212).

[2018-06-14 14:13] #17 closed

[2018-06-14 14:13] #38 closed

[2018-06-14 14:13] #43 closed

[2018-06-14 14:13] #44 closed

[2018-06-14 14:58] nagaozen commented on #17
Fixed by version `5.0.0`.

[2018-06-14 14:58] nagaozen commented on #44
Fixed by version `5.0.0`.

[2018-06-14 14:58] nagaozen commented on #43
Fixed by version `5.0.0`.

[2018-06-14 14:58] nagaozen commented on #38
Fixed by version `5.0.0`.

[2018-06-14 17:19] timocov commented on #38
Thanks!

[2018-06-16 18:19] nagaozen commented on #42
Hi @stelabr, could you please provide some evidence of this? We cannot reproduce your issue. A [jsfiddle](https://jsfiddle.net/) or [codepen](https://jsfiddle.net/) would be awesome for testing your code.

[2018-06-16 18:53] nagaozen commented on #39
@buddh4, are you still experiencing this? According to the project linter [standard](https://standardjs.com/), this extra semicolon isn't required.

[2018-06-16 19:01] nagaozen commented on #37
Hey @HenrikBechmann, could you please explain further your request? I don't get why `info.tag` is better than `token.tag` in the `cbf(token, info)` call.

[2018-06-16 19:11] nagaozen commented on #14
Hi @ToniWonKanobi, have you tried `markdown-it-attrs`? For me, it looks more adequate.

[2018-06-16 19:11] #14 closed

[2018-06-16 19:53] nagaozen commented on #36
@valeriangalliat any thoughts about this?! This code smells... specially the `token.attrPush(['style','position:relative;padding-left:16px;margin-left:-16px;'])`

[2018-06-16 21:33] nagaozen commented on #35
Fixed @ `v5.0.2`

[2018-06-16 21:33] #35 closed

[2018-06-16 22:34] HenrikBechmann commented on #37
In hindsight, I agree.

[2018-06-16 22:34] #37 closed

[2018-06-16 22:40] ToniWonKanobi commented on #14
@nagaozen I just got a notification for this Issue, and it's crazy because I don't even remember even writing all this 😆

Your suggestion is a nice one, but kind of more work than what I was suggesting. (The whole point of what I was original suggesting was to have a `markdown-it` plugin that *auto*-generated `id`'s for paragraphs and/or images/figures ;)

[2018-06-16 23:18] HenrikBechmann commented on #36
That particular line was a hack of mine. Please disregard for the purposes of this proposal.

Here's code for renderTargetLink

[code]

here are the defaults for the new properties:

[code]

here's the target-anchor class

[code]

So, the point is, the permalink goes after the target anchor when selected, which places the link 64p below the link to leave room for the fixed title.

(I use `hash-anc

[2018-06-26 02:53] Jack-Kingdom opened #46 "How about add ES Modules support?"
Build failed when integrated with React:
[code]

[2018-06-26 20:08] buddh4 commented on #39
Haven't tried it since then. I've just added the file manually for now with the extra semicolon. I assume its rather a rollup issue.

[2018-06-26 20:08] #39 closed

[2018-06-27 16:28] srallen commented on #46
The issue is with the spread on this line:
https://github.com/valeriangalliat/markdown-it-anchor/blob/1cc288c84ddac11a7047f2adb301b6958929ff19/index.js#L30

This feature is supported in Node 10, but version 10 isn't LTS yet, so I don't think it's reasonable to expect people to be upgraded yet. It's also not fully supported in IE or Edge.

To work around it, you must include this package in your ba

[2018-07-11 14:19] nagaozen commented on #39
Thank you

[2018-08-20 17:18] nagaozen commented on #42
No evidence provided or how to reproduce the bug.

[2018-08-20 17:18] #42 closed

[2018-08-22 19:08] coryschires opened #48 "BUG: Table of contents does not support markdown"
## Scenario
Given I have the following markdown string:

    [[toc]]

    # Introduction to American Novels
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore.

    ## Literary Analysis of _Catcher in the Rye_
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore.

    ## Understanding

[2018-08-23 19:47] coryschires commented on #48
Shoot. This issue was intended for [markdown-it-table-of-contents](https://github.com/Oktavilla/markdown-it-table-of-contents).

Sorry about this mixup. Closing!

[2018-08-23 19:47] #48 closed

[2018-08-24 14:15] nagaozen commented on #48
Ok, by the way, if you are struggling with that plugin, you may try instead: [markdown-it-toc-done-right](https://www.npmjs.com/package/markdown-it-toc-done-right).

[2018-08-24 14:42] nagaozen commented on #40
This is a known limitation. Nowadays JS grounds are really unstable. In many of my own projects translating ` node_modules` is required anyway because too many packages are using ES6 features. Some developers just stick with ES2015 and never use ES6, others suggests transpiling before publishing. Even in FB it's an [open issue](https://github.com/facebook/react-native/issues/7850). It's probably b

[2018-10-04 01:19] naivefun opened #49 "respect customised id with markdown-it-attrs?"
I'm using markdown-it-attrs and I'd like to assign id to header. But anchor will overwrite the id, is it possible to ignore id slug when an id is already in place?

[2018-10-16 20:45] nagaozen commented on #49
Hum, seems to be right thing to do.

[2018-10-21 01:59] naivefun commented on #49
@nagaozen actually I just find out it is there already
https://github.com/valeriangalliat/markdown-it-anchor/blob/1cc288c84ddac11a7047f2adb301b6958929ff19/index.js#L64-L66

I just need put this extension AFTER attrs 😸

[2018-10-21 01:59] #49 closed

[2019-01-09 09:37] xilibro opened #51 "anchor was not added to correct path"
My page url is : http://localhost:8080/#/component/srclock

[2019-01-11 16:14] valeriangalliat commented on #51
Hi! This is because by default markdown-it-anchor sets the `href` of the title anchor to `#slug`, meaning that if your slug is `ji-chu-yong-fa`, the `href` will be `#ji-chu-yong-fa`. The browser will then replace the whole anchor part of the URL, losing the `/components/srclock` part.

This is the default way of browsers to link to a specific element of the page. If you use the anchor part of the

[2019-02-24 11:55] #36 closed

[2019-05-24 06:59] yangyaoshan opened #53 "Install fail! I can't install lastest version!"
I installed vuepress today,but the terminal show this error:
**Install fail! Error: GET https://registry.npm.taobao.org/markdown-it-anchor/download/markdown-it-anchor-5.1.0.tgz response 404 status**
How to fix it?

[2019-05-24 13:48] valeriangalliat commented on #53
I'm not sure what taobao.org is but that doesn't looks like the official registry to me?

I did publish markdwon-it-anchor@5.1.0 yesterday night so it might have been a cache sync issue between the registry you're using and the official npm registry. Does it work if you try again?

[2019-05-24 18:00] nagaozen commented on #53
Published? What changed? We need to update the changelog.md

[2019-05-24 18:02] valeriangalliat commented on #53
Right, I merged #52

[2019-05-24 19:16] nagaozen commented on #53
While we are still in this topic, I would like to suggest a rewrite using [microbundle](https://github.com/developit/microbundle). I believe it would fix: https://github.com/valeriangalliat/markdown-it-anchor/issues/46 and https://github.com/valeriangalliat/markdown-it-anchor/issues/40 in the process. But because the project is really popular --- +100k/week --- I'm a bit scared to break things =D

[2019-05-24 19:27] valeriangalliat commented on #53
Wow I actually had no clue it got that popular! :tada:

I didn't know microbundle, but I'm not sure to get the point of a bundler since this project have 0 dependencies? Also how would it make us more confident about not breaking things? Had the last PR I merged broke things, microbundle or not, those bugs would still have gotten the same exposure, unless I don't understand something?

I think the

[2019-05-24 19:40] nagaozen commented on #53
Yes, you got it right, by building the library with microbundle we only need to keep track of the ES6 source code and it will generate optimized `dist` files for CJS (node), MJS (Javascript Modules), and UMD (unpkg/browsers). So the library will start to work out-of-the-box for users who doesn't transpile the `node_modules` and also get the benefit from modern app bundlers that will try to tree-sh

[2019-05-24 19:43] nagaozen commented on #53
Ok, I'm going to work on the port to microbundle tonight. I'm also closing this because taobao.org is not the official registry.

[2019-05-24 19:43] #53 closed

[2019-05-25 03:15] nagaozen commented on #46
Branch 2019-stack should fix this.

[2019-05-25 03:15] #46 closed

[2019-05-25 03:16] nagaozen commented on #40
Branch 2019-stack should fix this.

[2019-05-25 03:16] #40 closed

[2019-06-03 17:56] manastalukdar opened #54 "TypeError: plugin.apply is not a function with v5.2.3"
Running into "TypeError: plugin.apply is not a function" with version 5.2.3.

[code]

Reproducible using [this repo](https://github.com/manastalukdar/manastalukdar.github.io).

[2019-06-04 00:44] nagaozen commented on #54
Should be fixed in `5.2.4`. Could you please confirm?

[2019-06-04 00:44] #54 closed

[2019-06-04 01:21] manastalukdar commented on #54
Unfortunately same issue manifests with 5.2.4.

[2019-06-15 02:35] utahkaA commented on #54
I have similar issue with 5.2.4

I am using this plugin with @nuxtjs/markdownit, and get following error.

[code]

[2019-06-17 19:12] nagaozen commented on #54
@manastalukdar are you also using `@nuxtjs/markdownit`? Could you please check if it works with the original source? <https://www.npmjs.com/package/markdown-it>

[2019-06-18 03:14] manastalukdar commented on #54
@nagaozen Yes, I am also using `@nuxtjs/markdownit`. And the same problem persists even with the new version.

[2019-06-27 21:58] chris-dura commented on #54
I get this error as well for using `markdown-it` in a Vue app.

[2019-07-08 18:49] nagaozen commented on #54
This stack is really complicated. I couldn't reproduce the problem. I got:

[code]

[2019-07-08 19:00] nagaozen commented on #54
Couldn't get it to work, but I noticed in the packages.json that this stack is using an old version of the plugins. You may try:

[code]

This should fix the issue

[2019-07-08 22:45] manastalukdar commented on #54
@nagaozen  The latest version of the plugins is what causes the problem, which is why I had to downgrade to older versions.

[2019-07-09 11:11] fzdy1914 commented on #12
It seems that this problem is back again.

[2019-07-11 02:34] nagaozen commented on #54
Could you please inform which version had it fixed?

[2019-07-11 14:52] khusamov opened #55 "TypeError: plugin.apply is not a function with v5.2.4"
Running into "TypeError: plugin.apply is not a function" with version 5.2.4.

[code]

[code]

[2019-07-11 17:21] nagaozen commented on #55
Could you please test, if it works with:

[code]

[2019-07-11 17:25] nagaozen commented on #55
This error seems to be reported before (#54) and is related to (#12). If the above suggestion works, we should search for a fix like <babel-plugin-add-module-exports>

[2019-07-11 20:07] manastalukdar commented on #54
@nagaozen Versions below do not cause the issue. Newer versions do.

"markdown-it-anchor": "5.0.2"
"markdown-it-toc-done-right": "3.0.1",

[2019-07-15 07:48] khusamov commented on #55
I do not understand where to insert this line.

[2019-07-15 16:17] cbbfcd opened #56 "Repeated problem with anchor"
version: v5.0.1
device：macbook pro
description:
Using the markdown-it-anchor plugin and tui-editor combined, using react, when publishing the edited content, it is found that each release adds an anchor.
[code]
As shown in the figure below, multiple anchors will be generated, but I only need one.

![Z7nlMd.png](https://s2.ax1x.com/2019/07/16/Z7nlMd.png)

I found the problem is that when you execut

[2019-07-16 09:18] amxmln commented on #55
I’m affected by this error as well after upgrading to the latest version. I can confirm that the workaround suggested by @nagaozen seems to fix it.

[2019-07-16 20:39] manastalukdar commented on #55
The workaround does not work for me. Either for `markdown-it-anchor` or for `markdown-it-toc-done-right`.

[2019-07-17 17:59] nagaozen commented on #55
When using `markdown-it-anchor`, usually you are importing the packages either with `import ...` or `require(...)`. We've encountered a bug before when babel was transpiling the code into something else and started using `exports.default` instead of the Node.js `exports`, so loading the package as `require('markdown-it-anchor').default` should fix the problem.

Just another note: In the past, this

[2019-07-17 18:25] nagaozen commented on #56
Could you explain further the problem? What's the input for the markdown-it?

[2019-07-18 06:26] cbbfcd commented on #56
ok，The approximate process is like this：

1. a tui-editor instance with the anchor plugin:
[code]

2. Click the Publish Article button on the edit page.

[code]

3. when i update somthing in the article, and re-pulish the article, i found the anchor be added one more. as the issue picture show.

[2019-07-18 06:34] cbbfcd commented on #56
i found the reason, it's my stupid error. sorry and thanks

[2019-07-18 06:34] #56 closed

[2019-07-26 08:17] berot3 opened #57 "JSFiddle-demo not working?"
[It shows](https://jsfiddle.net/9ukc8dy6/) only a white/blank page.

[2019-08-10 00:32] rivy commented on #55
I'm hitting the same problem after v5.1.0.

The workaround does work for v5.2.4.

But if it's not going to be fixed, I think you should deprecate the v5.x.x versions after v5.1.0 and update the semantic version to v6.x.x. At a minimum, I'd note the need at the top of the npmjs documentation for the time being...

Additionally, there are no version tags here after v5.1.0 despite several later relea

[2019-08-28 19:50] zachleat opened #58 "Option to remove aria-hidden from output"
I believe that adding `aria-hidden` is incorrect for these links. These links should be accessible and would be useful to screen reader users too!

Notably this throws an error when using the axe-core accessibility linting tool.

The options to fix here are to remove `aria-hidden` (thus, this issue) or to set `tabindex="-1"` on the link, which wouldn’t be right either. I want these links to be foc

[2019-08-30 22:24] manastalukdar commented on #54
Fixed by including packages using the `import` statement:

[code]

[2019-08-30 22:24] manastalukdar commented on #55
Fixed by including packages using the `import` statement:

[code]

[2019-09-07 14:08] lobo-tuerto opened #59 "Specifying a base URL in a Nuxt app breaks the links"
Hello,

After doing something like this in `nuxt.config.js`:

[code]

All header anchors break and direct the user to the root of the app.
Is there anything I can configure so it works as it should?

Live article that exhibits the behaviour:
https://lobotuerto.com/zeta/blog/vuejs-components-inside-markdown

Try clicking on anything on the TOC, or the § links besides the headers in the main content

[2019-09-07 14:11] lobo-tuerto commented on #59
It even breaks in dev mode too, with `'/'` or `''` as base.

[2019-09-18 02:48] ShaneXie commented on #55
still doesn't work with nuxt `@nuxtjs/markdownit` module.

[2019-10-09 16:48] nagaozen commented on #57
It works for me:

![Screenshot_2019-10-09_13-47-47](https://user-images.githubusercontent.com/22817/66502362-74af8080-ea9b-11e9-8221-72030a8ac0b1.png)

[2019-10-09 16:48] #57 closed

[2019-10-15 15:37] nagaozen commented on #55
Since we migrated our project to **microbundle**, there are 3 flavours of production ready files built in the dist folder:
* `dist/markdownItAnchor.js`, specified as `main` in `package.json`. This is the default, CJS compatible format. It can be used as `var md = require('markdown-it-anchor')`. It can be tested at <https://npm.runkit.com/markdown-it-anchor>
* `dist/markdownItAnchor.mjs`, specified

[2019-10-15 15:37] #55 closed

[2019-10-15 19:22] nagaozen commented on #59
404 Not Found - Also, Nuxt is **downstream**.

[2019-10-15 19:22] #59 closed

[2019-10-15 20:14] nagaozen commented on #58
Hi @zachleat, thank you for pointing this out!

Initially I thought we made the right call on this because, as you said:

So, I went to the to source looking for the `aria-hidden` on the **header** tag but instead found it on the **a** tag. Well, that tag **does not contain** focusable elements, it **is** the focusable element! And because of <https://webaccessibility.com> "Avoid placing inactive

[2019-10-15 20:15] nagaozen commented on #58
Any additional words on this topic @valeriangalliat?

[2019-10-15 20:28] nagaozen commented on #58
While we are still discussing this, what about changing it to: `role="presentation"`?

[2019-10-16 13:43] nagaozen commented on #58
Fixed on 5.2.5

[2019-10-20 04:24] jie12366 opened #61 "TypeError: plugin.apply is not a function at MarkdownIt.use"
I have the problem when I use it.

[2019-10-21 02:07] nagaozen commented on #61
Could you please explain further your problem? With examples et cetera

[2019-10-21 02:18] jie12366 commented on #61
I had resolve the problem using the following method.
![image.png](https://i.loli.net/2019/10/21/PXevupH5Wx8oU6j.png)
I use the es5 syntax.

[2019-10-21 05:02] #61 closed

[2019-10-25 12:15] oliverjam opened #62 "Allow custom anchor attributes"
It would be nice to be able to control what attributes are set on the anchor.

For example I'd like to set an `aria-label` so screenreader users get a useful name instead of whatever unicode symbol/icon is inside the anchor. This is kind of related to #58.

Rather than continually adding new options for each possible attribute could we support passing a `permalinkAttrs` object as an option? E.g.

[2019-11-14 23:15] nagaozen commented on #62
Hi @oliverjam,

Thanks for your suggestion. Do you have a version with this feature working?! Could please make a PR?

Thank you,
nagaozen

[2019-11-14 23:20] nagaozen commented on #62
Closing because it's not an issue. We can continue exchanging ideas though.

[2019-11-14 23:20] #62 closed

[2020-04-01 18:08] nil opened #65 "permalinkAttrs is not working"
I'm tring to add custom attribute to the anchor link but it is not working. This is the code I'm using:

[code]
I've cloned this repository and when I run the tests with `yarn test` it returns an error.

[2020-04-01 20:11] valeriangalliat commented on #65
Looks like running `npm run build` fixed the tests, I've published 5.2.7 with the new build!

Crazy how I didn't know myself that this project had a build system :joy:

[2020-04-01 20:20] nil commented on #65
Yes, it is fixed 💯

[2020-04-01 20:20] #65 closed

[2020-04-10 11:49] LeonnardoVerol opened #66 "Duplicated Headers generates wrong anchor links (incremented by 1)"
## Bug report

When creating duplicated headers, is it expected that the duplicated anchor links will increase starting from "xxxx-1".
It starts from "xxxx-2".

#### Steps to reproduce

Create duplicated Headers (same name) inside a markdown file
[code]

#### What is expected?
The anchor link for each header should be:
[code]

#### What is actually happening?
It is generating the following anchor

[2020-04-10 13:06] LeonnardoVerol opened #67 "Headers with special characters between words should be converted to "-""
## Bug report

When creating headers with special characters between words, is it expected that the special character will be changed to "-"

#### Steps to reproduce

Create duplicated Headers (same name) inside a markdown file
[code]

#### What is expected?
The anchor link for the header should be:
[code]

#### What is actually happening?
It is generating the following anchor links:
[code]

[2020-04-11 00:31] nagaozen commented on #67
This library is "slugification" agnostic. _id est_ we don't decide what is the right or wrong way to make your links prettier. The default behavior is to just take the header content and `encodeURIComponent` it. That said, in the early days we leveraged the `slugify` library and it's expected output for your input is `header-and-header`, but we don't expect it as a dependency anymore.

Developers

[2020-04-11 00:31] #67 closed

[2020-04-11 00:34] nagaozen commented on #66
Not a bug. It's working as expected.

[2020-04-11 00:34] #66 closed

[2020-05-11 11:35] faxinwang opened #69 "plugin.apply is not a function"
I'm using markdown-it  v10.0.0 and markdown-it-anchor v5.2.7.  My code is
[code]
the error is: `Uncaught TypeError: plugin.apply is not a function`. And the error still exist when the options `{ permalink: true, permalinkBefore: true, permalinkSymbol: '§' }` is removed.

Does someone know what the problem is?

[2020-05-11 12:07] faxinwang commented on #69
`md.use(require('markdown-it-anchor').default )` fixed this problem. I fond it in the 4th issue of repo `markdown-it-mermaid`

[2020-05-11 12:09] #69 closed

[2020-06-30 08:44] lhf552004 opened #71 "How to work in Angular"
Hi,
Is it possible to work in Angular?
I did this below:
`
import * as MarkdownAnchor from 'markdown-it-anchor';
`
But it doesn't work when running.

[2020-07-16 00:08] theredfish opened #72 "Return an array from the callback"
Hello,

I'm trying to use your callback function, but I'm facing issues. I would like to get an array of (token, info) instead of an item for each token. The current behaviour leads to the following issues (at least, in my case) :

- Multiple calls
- Possible memory leaks / infinite loops with components lifecycles in some frameworks (like VueJS where the callback function is called once the rende

[2020-07-16 20:25] nagaozen commented on #71
I'm sorry, I didn't get your question. What's special about Angular? This library is supposed to be framework agnostic. As long it's leveraging javascript it should work. Could you please try the following codes and re-open the issue if your error persists?

[code]

[2020-07-16 20:25] #71 closed

[2020-07-16 20:54] nagaozen commented on #72
Hi! tl;dr answer: Not a good idea.

Conceptually, the scope of this project is about setting ids on the headers and, optionally, adding a permalink, not generating a TOC. For a TOC component made to be used with this plugin use [markdown-it-toc-done-right](https://www.npmjs.com/package/markdown-it-toc-done-right).

That said, it's important to note that this project is currently powering many rele

[2020-07-16 20:54] #72 closed

[2020-07-17 06:54] theredfish commented on #72
Hi, ok thank you for your time !

[2020-07-17 07:58] theredfish commented on #72
If someone is looking for a way to get the anchors, I did something like that based on @nagaozen  explanations :

[code]

That's all :) this plugin already do all the stuff I need. If you use VueJS (or Angular, React, ... I guess?) Do not use the callback function in your component to update your data because it will call the render function of your component (and you will end up with an infinite

[2020-07-26 04:44] rammygit opened #73 "Update readme for use in browser"
There is a browserified global for use in browser.

https://wzrd.in/standalone/markdown-it-anchor@latest

This link is pulled in from the demo in JSFiddle

https://jsfiddle.net/9ukc8dy6/

[2020-08-21 23:01] adamsoffer opened #74 "Feature request: make start index configurable"
I noticed the index of anchors ids [starts at index 2](https://github.com/valeriangalliat/markdown-it-anchor/blob/master/index.js#L38). It would be great if this start index could be configurable. My use case is that I'm using[`markdown-toc`](https://github.com/jonschlinkert/markdown-toc) which uses the same naming conventions for anchors but starts at 1.

[2020-09-11 19:11] codekandis commented on #73
Generally it would be nice to have a non-nodejs release asset available. I really like to use it in my website.

[2020-09-29 22:59] valeriangalliat commented on #74
Hey! That a good use case, I just released 6.0.0 with a `uniqueSlugStartIndex` option to configure that.

I also made the default 1 (which is why I bumped a major) because since it seems to be the default in most other packages (and on GitHub itself) so I think it's probably a more sensible default than 2.

Cheers!

[2020-09-29 22:59] #74 closed

[2020-09-30 00:10] adamsoffer commented on #74
Nice! Thanks @valeriangalliat

[2020-10-01 15:02] Atinux commented on #59
Actually, this is a browser issue directly: https://rogerkeays.com/blog/using-base-href-with-anchors

You can take a look at this workaround: https://github.com/nuxt/content/issues/376#issuecomment-702193217

[2020-10-26 22:06] binyamin commented on #58
@zachleat @nagaozen I would like to revisit this point. How will screen-readers know to ignore the `permalinkSymbol`? Also, the devtools tell me that GitHub puts `aria-hidden="true"` on its markdown permalink thingies.

![markdown permalink symbols](https://user-images.githubusercontent.com/39805353/97233772-e09f7c80-17b5-11eb-85fe-407bd1fbbe36.png)

[2020-11-19 06:03] nagaozen commented on #73
Done

[2020-11-19 06:03] #73 closed

[2020-12-26 02:00] carvinlo opened #77 "Add hidden option for the symbols (New feature request)"
Thanks for the help brought by this plugin, here is a new feature requirement:
The symbols in the permanent link anchor are hidden by default, and visible when hovered.

[2020-12-27 02:37] nagaozen commented on #77
@carvinlo this UX behavior should be achieved by CSS, not in the scope of this library.

[2020-12-27 02:37] #77 closed

[2021-02-01 20:32] stereobooster opened #80 "Quadratic complexity"
[code]

this operation is quadratic (`O(n!)`) - it will iterate over tokens, then for each token it will iterate again (`tokens.indexOf`)

Potential solution:

[code]

[2021-02-02 21:31] valeriangalliat commented on #80
That's a good idea, wanna make a PR for it? Or if you prefer I'll just push your proposed solution, up to you :)

[2021-02-02 22:32] stereobooster commented on #80
I guess it would be easier if you do it yourself - using your preferred code style. Maybe you would want to reinterpret it somehow

[2021-02-06 14:51] #80 closed

[2021-02-06 14:54] valeriangalliat commented on #80
Sounds good! It's live with 7.0.2 :D

[2021-02-24 13:26] TimDaub opened #81 "Some apps like Whatsapp and Telegram treat some characters at the end of a link as punctuation"
I started using this library on my blog for headlines and my first headline was `/blog#the-algorithm%3B-it's-working!`.
But when I shared the link with my users on Telegram and Whatsapp, they didn't end up at the headline's ID.

I first thought it had to do with the package's encoding of my "slugification". However, it turns out that Whatsapp and Telegram simply don't count certain letters as part

[2021-02-24 13:40] TimDaub commented on #81
How I ended up fixing it for now:

[code]

(I ended up replacing all special characters with the empty string. The resulting URI is now: `/blog#TheAlgorithmItsWorking`

[2021-02-24 15:17] valeriangalliat commented on #81
Hey!

I understand the concern. The idea behind the default behavior was to provide a safe (per spec) URL without being opinionated on how the slug should look like, and without requiring an external module either.

I personally use the `slugify` function from the `string` module on my own blog (see [User-Friendly URLs](https://github.com/valeriangalliat/markdown-it-anchor#user-friendly-urls) whic

[2021-02-24 20:22] TimDaub commented on #81
OK, all good. Thanks!

[2021-02-24 20:22] #81 closed

[2021-02-25 22:13] nhoizey opened #82 "Suggestion: adding an option to render a more accessible anchor link"
I've read [this great post about accessible anchor links](https://amberwilson.co.uk/blog/are-your-anchor-links-accessible/), and I've managed to write a `renderPermalink` function for `markdown-it-anchor` that generates the accessible HTML:
https://nicolas-hoizey.com/articles/2021/02/25/accessible-anchor-links-with-markdown-it-and-eleventy/

Unfortunately, I think this can't be a "simple" PR to ch

[2021-02-27 22:50] valeriangalliat commented on #82
Hey Nicolas! Thanks a lot, this is awesome!

I really want this plugin to be accessible by default. As you pointed out this would be a breaking change, but I'm comfortable changing the DOM structure on a major version.

There's a couple points that I want to discuss before going on with this change;

### Rendering without CSS

This "requires" some CSS for an "acceptable" result. To illustrate this

[2021-02-27 23:43] valeriangalliat commented on #82
Hey Nicolas! Thanks a lot, this is awesome!

I really want this plugin to be accessible by default. As you pointed out this would be a breaking change, but I'm comfortable changing the DOM structure on a major version.

There's a couple points that I want to discuss before going on with this change;

### Rendering without CSS

This "requires" some CSS for an "acceptable" result. To illustrate this

[2021-03-01 19:49] nhoizey commented on #82
Wow, that's a very detailed answer indeed! 😅

And I must say that everything you say is right, there are multiple caveats I didn't anticipate, so it needs much more thoughts to get it right.

For the CSS use case, on my site I removed the anchor link from the feed, users are much less likely to share a link to a feed item anyway. But I guess we can't simply say Markdown-it(-anchors) to generate tw

[2021-03-01 20:03] davidbgk commented on #82
Another side-effect, activating the Reader mode on Firefox:

<img width="1042" alt="Capture d’écran, le 2021-03-01 à 14 58 26" src="https://user-images.githubusercontent.com/3556/109551553-b3821400-7a9e-11eb-90e2-0bcbffd7096d.png">

The extra-space between the title and the content is not ideal and might be confusing.

In the [future](https://caniuse.com/url-scroll-to-text-fragment), [Text Fragm

[2021-03-01 20:07] HugoGiraudel commented on #82
Hello there. 👋

There is *a lot* to unpack, and I’m going to have to tackle it little by little. I will keep updating this answer until I’m eventually done (I’ll make it as such at the end). Bear with me while I go through it all. 😅

[2021-03-01 20:09] nhoizey commented on #82
That's unfortunate, but not as much as the other issues… can we say it's a Reader mode issue? 😅

I did mention Text Fragment in my article lead, indeed! 👍

But they currently don't work on short texts (lack of "context", I think), so often not on headings… 😭

[2021-03-01 20:34] ambrwlsn commented on #82
Hey! Thanks for picking up on this 🙂
The way the anchor links are formatted on my site is the same as in @HugoGiraudel's comment above.

With no CSS, the anchor links do indeed show up as follows, either on a website or in an RSS reader:

Plain HTML on a website:
<img width="183" alt="Screenshot 2021-03-01 at 21 27 31" src="https://user-images.githubusercontent.com/20335874/109555066-62414700-7ad5

[2021-03-01 20:51] bazzadp commented on #82
I still prefer to make the headers links themselves, rather than a separate link for the following reasons:

- it's a bigger tap area for mobile
- it avoids those Google SERP, RSS and Reader Mode issues
- it means you don't need to worry about the label text
- it allows you to hide the anchor icon (inserted with a `::before { content: icon }`) on mobile or only when focus/hovered or remove it comp

[2021-03-01 21:16] bazzadp commented on #82
Downside with that though is that it’s harder to select the heading text if you want to copy just the heading text but I’m thinking that’s less likely then wanting to copy the link itself from the URL bar after clicking on it.

[2021-03-01 21:45] ambrwlsn commented on #82
Yep @bazzadp, I remember now that I didn't want the heading text to be hard to copy. But I can't now think of a good reason for that. I think the way MDN and the Web Almanac go about it is a good one. I also like how the heading is underlined and the icon shows up on hover/focus.

This is a great opportunity to edit my post once again with a link to this discussion.

I love that the discussion pop

[2021-03-02 04:46] thierryk commented on #82
I came up with a solution that mimics the "behavior" of the heading/anchor in @ambrwlsn's article but based on MDN's markup: https://codepen.io/thierry/full/qBqYmgw

[2021-03-02 06:58] bazzadp commented on #82
That's very, very clever!

The reason Voice-Over does not announce the hash, is you only have this on `hover`, this means the `#` content doesn't show up on `focus`, which is what Voice Over uses. Now this may be a good thing in this case as you probably don't want it announced, but also means keyboard only users on desktop don't get this symbol and visual indicator that this is an anchor link. Th

[2021-03-02 17:02] thierryk commented on #82
Duh! Of course! How did I miss that? Thank you!

I'm now wrapping the rues inside `@media (hover: hover){}` so that should take care of most issues you raised about mobile: https://codepen.io/thierry/pen/qBqYmgw

As far as I know this is not an issue on mobile, so there is even more reason to use `@media (hover: hover){}`

Note that it is possible to select text inside links via `option` + click/s

[2021-03-06 15:08] valeriangalliat commented on #82
So happy to see all that activity and discussions on this issue! Thanks everybody for contributing. :heart_eyes_cat:

Thanks for the explanation, that makes a lot of sense now!

That's fair, I didn't think about that. That makes the RSS thing a non-issue at that point, and it seems like a good practice to omit the header anchors from RSS feeds anyways.

Thanks a lot for asking for external feedbac

[2021-03-06 17:09] thierryk commented on #82
Yep! That's exactly what I have on the new version I am working on. The original Pen was just a "proof of concept" to see if `pointer-events:none` could help with **text selection**.

Now I have something that works the way I want based on the following markup:

[code]

As far as I know this should be fine regarding localization (`title` doesn't have the same issue as `aria-label`).

I think that

[2021-03-07 20:31] nhoizey commented on #82
@valeriangalliat that's a great overview of all pros and cons! 👍

Your suggestion to provide multiple functions to chose from is interesting, even if I would love everyone to agree on one single solution. I'm not sure it's useful to have aliases with `mdn`, `github`, etc., as long as the docs cite them as examples. Feel free to use my code directly!

And I think we can wait for @thierryk's next it

[2021-03-09 23:02] thierryk commented on #82
I was inspired by the [Demo as JSFiddle](https://jsfiddle.net/9ukc8dy6/) and did this [online "tool"](https://s0fs6.csb.app/) to help get the proper slug for an easy copy/paste (better experience using keyboard only).

[2021-03-10 08:57] nhoizey commented on #82
@thierryk for safe slugs, I always use https://github.com/sindresorhus/slugify

(But that's not the topic of this issue… 😅)

[2021-03-10 18:41] bkrnetic opened #84 "Invalid header IDs"
Hello,

coming from Joplin as I was told it uses this library for anchor generation.

I am gonna copy the issue I've written [there](https://github.com/laurent22/joplin/issues/4650).

Invalid header ID according to usual markdown rules.

## Environment

Joplin version: Joplin 1.7.10 (prod, darwin)
Platform: macOS
OS specifics: Big Sur

## Steps to reproduce

1. Copy this to your Joplin note (worki

[2021-03-10 19:22] thierryk opened #85 "Suggestion: add `tabindex` to targets"
Adding `tabindex="-1"` to the target of the anchors will allow default UA styling (i.e. `outline`).
It can also be used in lieu of `:target` for styling, but more importantly it should make the UA focus on the target when the anchors are activated or when the page loads with that hash (there is a default styling for `:focus` but there is none for `:target`).

[2021-03-19 17:57] #85 closed

[2021-03-23 10:31] bkrnetic commented on #84
Thanks a lot for your response and provided solution!

[2021-04-03 02:22] inix commented on #55
This fix issue.

[2021-04-12 09:32] holtwick opened #87 "Curly braces anchor definitions"
In my headings I define the anchor name like this:

[code]

Becomes something like:

[code]

This is a common pattern in multiple Markdown flavors.

The benefit for me is, that I can use the same anchors for various translations of my help texts.

Any chance to support this? Thanks.

[2021-04-12 23:09] valeriangalliat commented on #87
You should be able to use [markdown-it-attrs](https://www.npmjs.com/package/markdown-it-attrs) for this (make sure to load it *before* markdown-it-anchor)!

markdown-it-anchor is designed to reuse an existing `id` attribute if there's any, so it will only add an `id` to the titles that don't have one yet.

Let me know if that helps!

[2021-04-13 18:22] holtwick commented on #87
This is exactly what I was looking for! Thanks a lot, you made my day. It is even better than my previous solution ;)

You should consider adding this hint to the README.

[2021-04-13 18:22] #87 closed

[2021-05-02 20:07] jamesplease opened #88 "Improvement: render a nbsp instead of a space"
Hi! Thanks for the great library. I noticed that regular spaces are used, which means that the permalink can be wrapped separately from the header text. If this is switched to a non-breaking space (`&nbsp;`) then it ensures that the final word and the permalink will always appear side-to-side.

For folks who may be reading this issue, this can currently be solved in user-land as follows:

[code]

[2021-05-10 21:10] thierryk commented on #82
FWIW, I found an issue with that construct: [CodePen Home
block-level elements inside anchors and :focus](https://codepen.io/thierry/pen/wvoRYPP)

[2021-06-14 14:53] #82 closed

[2021-06-18 22:35] Antonio-Laguna opened #92 "Issue with linkAfterHeader"
Somehow the new version is eating up some headings. Given that the library is minified I can't test to see what could be causing it without downloading the repo but this markup

[code]

Is only  riding up until four with this config:

[code]
I think it's `linkAfterHeader` since optionless seems to work fine. This is the output:

[code]

[2021-06-19 13:49] #92 closed

[2021-06-19 14:57] mrdrogdrog opened #94 "Update typescript types"
Since release 8.0.0, the typescript types are out of date. Please update them.

[2021-06-19 17:48] mrdrogdrog commented on #94
I'm already working on that.

[2021-06-20 21:50] #94 closed

[2021-06-23 14:30] AleksandrHovhannisyan opened #96 "styleOfPermalinks is not a function"
The documentation here:

https://github.com/valeriangalliat/markdown-it-anchor/#permalinks

Says that you can do this:

[code]

But this throws an error. Is `styleOfPermalink` not an actual method we can invoke? If not, what is the correct syntax?

Thanks!

[2021-06-25 12:19] valeriangalliat commented on #96
Ah yeah I meant `styleOfPermalink` as a placeholder for any of the permalink methods documented below, but that's not necessarily obvious.

I modified the example to have `anchor.permalink[styleOfPermalink](permalinkOpts)` to make it more clear that it's a variable, and I added a paragraph below saying it needs to be one of the styles documented afterwards.

Let me know if that heps! Cheers :)

[2021-06-26 11:05] AleksandrHovhannisyan commented on #96
Ah, that makes sense, thanks!

[2021-06-27 14:04] #96 closed

[2021-07-01 04:47] meteorlxy opened #98 "Advice for keeping permalink symbol token stable"
We were using `html_block` token for permalink symbol in v7.x:

https://github.com/valeriangalliat/markdown-it-anchor/blob/828401d92c29ccf2420ed454c9c0cc6616aadedb/index.js#L24

Since v8.x, it's changed to `html_inline` (which is not the "exact" legacy implementation):

https://github.com/valeriangalliat/markdown-it-anchor/blob/f5c0844dbb0ea127fc158249411c1400a060c039/permalink.js#L31

It's an int

[2021-07-01 13:17] valeriangalliat commented on #98
Ouuh, good catch, the legacy version should be identical in all points, I'll publish a patch for this

As for your question, I think that including the toc plugin before markdown-it-anchor would solve the problem, since the toc would be generated before the anchors are added to the token stream?

[2021-07-01 13:19] #98 closed

[2021-07-01 13:20] valeriangalliat commented on #98
The legacy permalink is compliant with the actual legacy implementation in 8.0.5!

[2021-07-01 13:21] meteorlxy commented on #98
We are using the `slug` generated by markdown-it-anchor (i.e. id attr of the `heading_open` token) as the href link of the toc, so it's better to generate toc after anchor.

[2021-07-01 13:23] meteorlxy commented on #98
@valeriangalliat Is it possible to add a `meta.isPermalinkSymbol` to the symbol token? 🤔

[2021-07-01 14:08] valeriangalliat commented on #98
Ah I see, makes sense. `meta.isPermalinkSymbol` seems like a great idea indeed! I've made a PR for this, https://github.com/valeriangalliat/markdown-it-anchor/pull/99, feel free to test against it (`npm i valeriangalliat/markdown-it-anchor#feature/permalink-symbol-meta`) and let me know if that solves your problem :)

[2021-07-09 13:40] nhoizey opened #100 "Add container around heading and anchor"
I'm trying to migrate to v8 and couldn't find how to add a container around the heading and the anchor.

Here are my options:

[code]

I get this HTML:

[code]

I want to position the anchor link relative to the heading, so I need a container for both. It would be great to have an option to add this container with a class:

[code]

[2021-07-09 13:45] nhoizey commented on #100
This is how I get this result with markdown-it-anchor v7 (and Eleventy):

https://github.com/nhoizey/nicolas-hoizey.com/blob/main/.eleventy.js#L102-L177

[code]

[2021-07-10 15:04] kleinfreund opened #101 "Expose custom options regardless of permalink styles"
With the changes introduced in v8.0.0, a couple of preset permalink styles are available (see https://github.com/valeriangalliat/markdown-it-anchor#permalinks). I tried migrating my use of markdown-it-anchor to these styles to remove the deprecation warning from my build output.

Unfortunately, it doesn’t seem possible to reproduce my header anchor markup with any of the options:

[code]

The opti

[2021-07-11 15:31] kleinfreund commented on #101
I started to play around with the project a bit to figure out if I’m able to contribute a change that would allow me to cover my use case a bit more gracefully (of course at this point, I don’t even know if what I’ve assembled in words above is even sensible, so this is very much just on my own initiative).

While doing that, I had a look at the tests to familiarize myself with some usage scenario

[2021-07-23 11:40] AleksandrHovhannisyan opened #103 "Headings containing a hashtag yield invalid hrefs"
One thing I noticed today is that one of my pages is giving me HTML validation errors because it has a heading of the form:

[code]

And that nested hashtag yields this invalid anchor URL:

[code]

Would it be possible to remove this special character from the output href since it's not allowed to appear more than once?

[2021-07-23 11:48] valeriangalliat commented on #103
Hey! We use `encodeURIComponent` as the defaut `slugify` function so out of the box your example should output:

[code]

Did you customize the `slugify` function? Also what HTML validator are you using?

[2021-07-23 11:58] AleksandrHovhannisyan commented on #103
Ah, that explains it! Yes, I customized it, and my custom slugify function wasn't handling that character. Thanks for the super quick response!

[2021-07-23 11:58] #103 closed

[2021-08-26 13:46] shellscape opened #105 "Headers in html_block Tokens aren't given slugs"
When headers (`<h2 .../>` etc) are within tokens with `.type === 'html_block'` the plugin doesn't assign IDs nor create slugs. I've been using Vue's README.md as a baseline for that https://github.com/vuejs/vue/blob/dev/README.md

[2021-08-31 14:20] valeriangalliat commented on #105
Wow that's pretty cool! I just found out on your other issue that npm was using markdown-it and a similar approach to parse HTML headers, I had no idea.

At that point I would just reuse npm's implementation, e.g. `md.use(require('@npmcorp/marky-markdown/lib/plugin/html-heading'))`, even though the implementation is likely to give unexpected results on edge cases, if it works good enough for npm i

[2021-08-31 14:46] shellscape commented on #105
Yeah I think we can close this one. I do want to note that NPM's code doesn't pick up headers with attributes, as their regex is pretty constrained. I'm left wondering if they use this code at all anymore. See the Vue rendered readme here: https://www.npmjs.com/package/vue. I ran that readme through marky-markdown and that `Supporting Vue.js` header wasn't assigned an anchor, yet on npmjs.com it i

[2021-08-31 14:46] #105 closed

[2021-08-31 15:15] valeriangalliat commented on #105
Oh wow, right. The more I think about it, the more I feel like all of this (anchors, TOC) should be done at the HTML level instead of Markdown, which is likely how GitHub not only has anchors and TOC on Markdown files, but also RST, and Org mode

[2021-08-31 15:25] shellscape commented on #105
That's a valid point.

[2021-09-07 12:02] nhoizey commented on #100
Hi @valeriangalliat, it works indeed, thanks a lot! 🙏

[2021-09-07 12:02] #100 closed

[2021-10-03 09:42] kleinfreund commented on #101
Hey there,

thanks for the thorough and helpful response. I’ve just updated the site where I’m using the aforementioned style using the follow configuration (i.e. exactly what you suggested):

[code]

I have read the conversations feeding into the decisions made regarding the deprecation of permalinks and understand the motivation and results, too. I’ll look into improving the markup on my site se

[2021-10-03 09:43] #101 closed

[2021-10-10 09:34] GrimLink opened #107 "Add <span> inside permalink.headerLink style until safari reader more is fixed"
I would be nice to add the `<span>` around the header text inside the anchor until the issue with the Safari reader mode is fixed.

Or atleast add an option for this.

As referenced by this blog article https://www.leereamsnyder.com/blog/making-headings-with-links-show-up-in-safari-reader
that you also mention on your README.

[2021-11-28 01:31] benblazak opened #108 "incorrect type for permalink.headerLink()"
https://github.com/valeriangalliat/markdown-it-anchor/blob/7a64eec879b7f1617800680ef87e5ac6235ed79a/types/index.d.ts#L56

Should probably allow for options, like the other types nearby.

TypeScript complains e.g. about `permalink: MarkdownItAnchor.permalink.headerLink({ safariReaderFix: true })`.

Workaround: Put a `// @ts-ignore` above the line.

[2022-03-24 14:23] JanDW opened #110 "Feature request: container option for linkAfterHeader"
Hi Val,

I noticed that to add a container around the outputted HTML when using`linkAfterHeader` I'd need to implement my [own render function](100).  Would it make sense to provide an option for passing in a container?

Best,

Jan

[2022-04-02 17:32] valeriangalliat commented on #110
Hey! Seems like a common demand for `linkAfterHeader` to include a wrapper in the output, @nhoizey also wanted to do this in #100. I came up with a proposal solution in #111, it looks like this:

[code]

[code]

Does this looks like a reasonable API?

Cheers!

[2022-04-02 20:23] JanDW commented on #110
[There are more of us.](https://11ty.rocks/eleventyjs/slugs-anchors/) :)

Yes, that was exactly what I was hoping for—thanks!

[2022-04-04 12:43] #110 closed

[2022-04-04 12:52] valeriangalliat commented on #110
Awesome, published with v8.5.0! Thank you for the Ko-fi :heart:

[2022-04-05 02:55] JanDW commented on #110
Thank you! 🏅

[2022-04-06 13:04] manuth opened #112 "KaTeX Expressions aren't Included in Headings"
Currently, KaTeX expressions inside of headings aren't part of the anchors.
I'd love to either have an option for configuring additional token-types to include in anchors or to have the token type `math_inline` added to this filter:
https://github.com/valeriangalliat/markdown-it-anchor/blob/7f947ce9a0137ab68dbfef79a4c4d0a2ef4bfd37/index.js#L51

This would allow users to make anchors look more like

[2022-04-08 00:22] valeriangalliat commented on #112
Interesting! I'm thinking I could use a blacklist approach instead of the current whitelist approach, e.g. doing `.filter(token => token.type !== 'html_inline' && token.type !== 'image')` instead of `.filter(token => token.type === 'text' || token.type === 'code_inline')`.

This yields the same output with all my tests using native markdown-it tokens but in the case of the KaTeX plugin, that would

[2022-04-08 09:30] manuth commented on #112
Awesome, that would be great!
Thanks a ton for taking care 😄

[2022-04-08 13:23] #112 closed

[2022-04-08 13:27] valeriangalliat commented on #112
`getTokensText` is released as part of v8.6.0!

[2022-04-08 13:46] #84 closed

[2022-04-08 13:50] valeriangalliat commented on #108
Thanks for reporting! I just fixed this in v8.6.1 so you can remove your `// @ts-ignore`. Sorry for the late reply :)

[2022-04-08 13:50] #108 closed

[2022-04-08 13:54] #88 closed

[2022-04-08 17:40] jamesplease commented on #88
Thanks so much @valeriangalliat !

[2022-04-08 17:40] benblazak commented on #108
thanks!

[2022-04-11 08:18] manuth commented on #112
Awesome! Thank you very much for your effort! 😄

[2022-05-05 04:14] chris-dura opened #115 "Should return type for `PermalinkGenerator` be `void` instead of `string`?"
Hello!

## TL;DR --

The types say that my custom `PermalinkGenerator` should return a `string`:
https://github.com/valeriangalliat/markdown-it-anchor/blob/master/types/index.d.ts#L39

But, the docs for custom permalinks don't show a return type:
https://github.com/valeriangalliat/markdown-it-anchor#custom-permalink

And, it doesn't look like the built-in Permalink functions (`headerLink`, `linkIn

[2022-05-05 12:40] valeriangalliat commented on #115
Thanks for the detailed issue!

You're right this is a mistake with the return type for `PermalinkGenerator` and it should indeed be `void`.
It's fixed with v8.6.3. Cheers :)

[2022-05-05 12:40] #115 closed

[2022-05-09 17:53] chris-dura opened #116 "Missing `wrapper` property in `LinkAfterHeaderPermalinkOptions` type"
ES Lint is complaining about `wrapper` not existing...

[code]

[2022-05-11 11:52] valeriangalliat commented on #116
Good catch. Fixed with 8.6.4!

[2022-05-11 11:52] #116 closed

[2022-05-20 14:33] nhoizey commented on #110
I'm late using this, but it rocks! Thanks @valeriangalliat

[2022-05-29 20:42] Tolu-Mals opened #117 "Add brief description of what plugin does to top of readme."
I came across this plugin while studying a codebase and it's really difficult to understand what this plugin does. I suggest that there's a brief description of what this plugin does at the top of the readme to help people like me learning about it for the first time.

I suggest "A [markdown-it](https://github.com/markdown-it/markdown-it) plugin that adds an `id` attribute to headings"(as the read

[2022-07-21 11:22] meteorlxy opened #118 "Types invalid with `"type": "module"` and `"moduleResolution": "Node16"`"
### Description

Current `types/index.d.ts` does not work well when:

- setting `"type": "module"` in `package.json`.
- setting `"moduleResolution": "Node16"` in `tsconfig.json`'s `compilerOptions`.

### Reproduction

https://github.com/meteorlxy/markdown-it-anchor-types

[2022-07-21 17:45] valeriangalliat commented on #118
Thanks for providing a repo with the repro!

I looked at this and can't figure why this doesn't work. The way we type the fact the `anchor` function has a `permalink` property is by doing:

[code]

And this is exactly how TypeScript compiles a TS file containing `function anchor(){}; anchor.permalink = { ariaHidden() {} }`...

I'm clueless how to fix that, any suggestions welcome! 🙏

[2022-07-21 18:00] valeriangalliat commented on #118
OK, setting `"type": "module"` in markdown-it-anchor's `package.json` fixes it, but that'd break many other things so is not an option right now.

I tried configured the `exports` property in `package.json` as with typical hybrid CJS/ESM packages, sadly that didn't help.

[code]

Even putting the CJS and ESM outputs in different directories, e.g. `esm/markdownItAnchor.js` with a `esm/package.json`

[2022-07-21 18:36] valeriangalliat commented on #118
Interesting: https://github.com/microsoft/TypeScript/issues/49271#issuecomment-1139688063

So you can fix it by using:

[code]

[2022-07-22 01:26] meteorlxy commented on #118
Uh, that's an interesting limitation 🤔 (Apologize that I didn't have enough time to search for related issues yesterday, so I only posted a repro)

Some ideas:

- `"type": "module"` should be OK if we configured `exports.require` correctly
- What about using `export =` instead of `export default`? The previous one should work with both cjs and esm.

[2022-07-28 19:25] valeriangalliat commented on #117
That's a great suggestion! I just updated the readme in https://github.com/valeriangalliat/markdown-it-anchor/commit/5bbb52016c13ec48df3754093fc3e15cff5a4c3a to include a more comprehensive overview =) don't hesitate to suggest any other improvements if I missed anything!

[2022-07-28 19:25] #117 closed

[2022-09-11 04:38] wickning1 commented on #118
Facing the same issue trying to provide a hybrid library. I think it can be solved by placing a `package.json` file in the `types` directory next to the index.d.ts with its only content `{ "type": "module" }`. That may be a little safer than changing the root package.json.

[2022-09-12 23:19] valeriangalliat commented on #118
OH this seems to work well for both CJS and ESM imports, nice find @wickning1! 🙌

I just released version 8.6.5 with this fix, @meteorlxy let me know if that fixes the issue for you 😄

[2022-09-26 14:33] undefined-moe opened #119 "@types in peerDeps"
currently, `@types/markdown-it` was marked as a peerDependency, however in production mode, `@types` shouldn't be installed, and package manager throws a peerDep missing warning.

I think `"@types/markdown-it": "*"` should be placed into devDeps, and package managers would automatically choose which version to install (always reuse existing `@types/markdown-it` installed by outer project first if

[2022-11-25 20:50] valeriangalliat commented on #119
Sadly that's a general problem with TypeScript packages depending on `@types` definitions

If I put it in `devDependencies` then people who include `markdown-it-anchor` in their TypeScript projects won't have the `@types/` packages of the undelying packages we depend on (here `@types/markdown-it`).

We depend on `@types/markdown-it` for the types of markdown-it-anchor: https://github.com/valeriang

[2022-11-25 20:51] valeriangalliat commented on #119
Sadly that's a general problem with TypeScript packages depending on `@types` definitions

If I put it in `devDependencies` then people who include `markdown-it-anchor` in their TypeScript projects won't have the `@types/` packages of the undelying packages we depend on (here `@types/markdown-it`).

We depend on `@types/markdown-it` for the types of markdown-it-anchor: https://github.com/valeriang

[2022-11-26 03:29] undefined-moe commented on #119
If people want types, they want type for both `markdown-it` core and plugin, and they should install them all.

`markdown-it-anchor` strictly depends on `markdown-it`, which means:

- If you are in development mode, then you should install `markdown-it` (peerDeps), and if you need types, as you are using `MarkdownIt().use()`, you should install `@types/markdown-it` already (as outer devDeps)
- If